<div class="row">
    <div class="col-md-12">
        <h2>About Us</h2>
        <p>My name is Jay Bakaraniya. I am a student of Seneca Polytechnic pursuing the Computer Programming Program (CPP). I am passionate about coding, and I spend most of my free time learning and practicing. I also enjoy playing volleyball with my friends. My goal is to become a professional programmer and contribute my best to the industry and my family.</p>
    </div>
</div>
